/* html { 
	font-size: calc(0.5em + 0.7vw)
} */

body {
	background-image: url("Home07.png");
	padding-top: 612%;
	
	/* background-image: url("Shop01.png");
	padding-top: 573%; */

	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 0;
}

/* #home {
	background-color: yellow;
	height: 50px;
} */

#desktopWarning {
	display: none;
	/* background-color: green; */
	/* height: 130px; */
	/* font-size: 1ch; */
}